<div class="input-group modal-input-group" id="modal-input-group-{{id}}">
    <input type="text" id="input-match-{{id}}" class="input-match" value="{{match}}">
    <div class="input-group-append">
        <a href="#" class="input-group-remove">
            <i class="fa fa-remove fa-fw fa-2x input-pattern-close-btn"></i>
        </a>
    </div>
</div>
